<div class="content">
    <mat-card class="example-card">
        <mat-card-content>
            <div class="address">
                <img src="../../../assets/images/success.png" alt="success_icon">
                <h1>Solicitação enviada com sucesso!</h1>
                <p><strong>Código da solicitação: </strong> {{this.infoService.arraySolicitacoes?.codigo_simples}}</p>
                <p><strong>Data da solicitação:</strong>
                    {{this.infoService?.arraySolicitacoes?.data_criacao | date: 'dd/MM/yyyy'}}</p>
                <p><strong>Data do ato informada:</strong>
                    {{this.infoService?.arraySolicitacoes?.data_ato | date: 'dd/MM/yyyy'}}</p>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="action" style="display: flex; justify-content: space-between;">
        <button class="item" routerLink="/consulta" mat-raised-button
            color="primary">Consultar solicitação
        </button>
        <button class="item" routerLink="/" mat-raised-button
            color="primary">Nova solicitação
        </button>
    </div>
</div>