<div class="content">

    <div class="filter">
        <mat-form-field class="example-full-width">
            <mat-label>Consultar solicitação</mat-label>
            <input matInput placeholder="Ex. A1234" value="" [(ngModel)]="this.infoService.codigo_solicitacao">
        </mat-form-field>
        <div class="action">
            <button style="margin-right: 15px;" routerLink="/" mat-raised-button class="btn" color="primary">Nova solicitação
            </button>
            <button
                [disabled]="this.infoService?.codigo_solicitacao === null || this.infoService?.codigo_solicitacao === ''"
                mat-raised-button class="btn" color="primary"
                (click)="this.infoService.consultar(this.infoService.codigo_solicitacao)">Consultar
            </button>
        </div>

    </div>
    <hr>
    <mat-card class="example-card" *ngIf="infoService.buscarSolicitacao">
        <mat-card-content>
            <div class="info">
                <p> <strong>Código da solicitação:</strong> {{this.infoService.arraySolicitacoes?.codigo}} </p>
                <p> <strong>Data da solicitação:</strong> {{this.infoService.arraySolicitacoes?.data_criacao}} </p>
                <p> <strong>Nomes das partes:</strong> {{this.infoService.arraySolicitacoes?.nome_partes}} </p>
                <p> <strong>Tipo ato:</strong> {{this.infoService.arraySolicitacoes?.tipo_ato}} </p>
                <p> <strong>Livro ato</strong> {{this.infoService.arraySolicitacoes?.livro_ato}} </p>
                <p> <strong>Folha ato</strong> {{this.infoService.arraySolicitacoes?.folha_ato}} </p>
                <p> <strong>Mensagem</strong> {{this.infoService.arraySolicitacoes?.mensagem}} </p>
                <p> <strong>Status</strong> {{this.infoService.arraySolicitacoes?.status.descricao}} </p>
                <p> <strong>Nome do solicitante:</strong> {{this.infoService.arraySolicitacoes?.solicitante?.nome}} </p>
                <p> <strong>Email:</strong> {{this.infoService.arraySolicitacoes?.solicitante?.email}} </p>
                <p> <strong>CPF/CNPJ:</strong> {{this.infoService.arraySolicitacoes?.solicitante?.cpf_cnpj}} </p>
                <p> <strong>Telefone:</strong> {{this.infoService.arraySolicitacoes?.solicitante?.telefone}} </p>

                <div class="address" *ngIf="infoService.arraySolicitacoes?.tipo_retirada === 2">
                    <hr>
                    <h3>Endereço</h3>
                    <p><strong>CEP:</strong> {{this.infoService.arraySolicitacoes?.endereco?.cep}}</p>
                    <p><strong>Logradouro:</strong> {{this.infoService.arraySolicitacoes?.endereco?.logradouro}}</p>
                    <p><strong>Número:</strong> {{this.infoService.arraySolicitacoes?.endereco?.numero}}</p>
                    <p><strong>Complemento:</strong> {{this.infoService.arraySolicitacoes?.endereco?.complemento}}</p>
                    <p><strong>Bairro:</strong> {{this.infoService.arraySolicitacoes?.endereco?.bairro}}</p>
                    <p><strong>Cidade:</strong> {{this.infoService.arraySolicitacoes?.endereco?.cidade}}</p>
                    <p><strong>UF:</strong> {{this.infoService.arraySolicitacoes?.endereco?.uf}}</p>
                </div>
            </div>
            <div class="files">

            </div>
        </mat-card-content>
    </mat-card>
</div>