<div class="content">
    <h1 class="title-section">
        CONFIRMAR INFORMAÇÕES PREENCHIDAS
    </h1>
    <ng-template #notFilled><i>Não informado</i></ng-template>
    <div class="dados-ato">
        <h3>Nome das partes: <i *ngIf="infoService?.summaryCheck?.nome_partes; else notFilled">{{infoService?.summaryCheck?.nome_partes}}</i></h3>
        <h3>Tipo do ato: <i *ngIf="infoService?.summaryCheck?.tipo_ato; else notFilled">{{infoService?.summaryCheck?.tipo_ato}}</i></h3>
        <h3>Livro: <i *ngIf="infoService?.summaryCheck?.livro_ato; else notFilled">{{infoService?.summaryCheck?.livro_ato}}</i></h3>
        <h3>Folha: <i *ngIf="infoService?.summaryCheck?.folha_ato; else notFilled">{{infoService?.summaryCheck?.folha_ato}}</i> </h3> 
    </div>
   
    <div *ngIf="infoService?.summaryCheck?.entrega === 2" class="forma-entrega">
        <h3>Endereço de entrega:
            <i>{{infoService?.summaryCheck?.logradouro}} -
                {{infoService?.summaryCheck?.numero}} -
                {{infoService?.summaryCheck?.cep}} -
                {{infoService?.summaryCheck?.cidade}} -
                {{infoService?.summaryCheck?.uf}}
            </i>
        </h3>
    </div>
    <div class="dados-solicitante">
        <h3 *ngIf="infoService?.summaryCheck?.nome">Nome do solicitante: <i>{{infoService?.summaryCheck?.nome}}</i></h3>
        <h3 *ngIf="infoService?.summaryCheck?.cpf_cnpj">CPF/CNPJ do solicitante: <i>{{infoService?.summaryCheck?.cpf_cnpj}}</i></h3>
        <h3 *ngIf="infoService?.summaryCheck?.email">Email: <i>{{infoService?.summaryCheck?.email}}</i></h3>
        <h3 *ngIf="infoService?.summaryCheck?.telefone">Telefone: <i>{{infoService?.summaryCheck?.telefone}}</i></h3>
        <h3 *ngIf="infoService?.summaryCheck?.mensagem">Mensagem: <i>{{infoService?.summaryCheck?.mensagem}}</i></h3>
    </div>
    <div class="valores">
        <h2 style="text-align: center;">Valor total do serviço: {{buscaCepService?.valorTotal | currency:'BRL':true}}</h2>
    </div>

<div class="action">
    <button mat-raised-button color="primary" class="btn" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" class="btn" (click)="submit()">Confirmar</button>
</div>
</div>