<form [formGroup]="profileForm" class="example-form" autocomplete="off" (ngSubmit)="submit()">
  <h1 class="title-section mt-30">DADOS DO ATO</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Nome da(s) Parte(s)</mat-label>
    <textarea required formControlName="nome_partes" matInput value=""></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Tipo do Ato</mat-label>
    <input required formControlName="tipo_ato" matInput value="">
  </mat-form-field>

  <div class="d-flex">
    <mat-form-field class="example-full-width mr">
      <mat-label>Livro</mat-label>
      <input required formControlName="livro_ato" matInput value="">
    </mat-form-field>

    <mat-form-field class="example-full-width ml">
      <mat-label>Folha</mat-label>
      <input required formControlName="folha_ato" matInput value="">
    </mat-form-field>
  </div>

  <h1 class="title-section mt-30">
    FORMA DE ENTREGA
  </h1>

  <mat-radio-group required color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
    [(ngModel)]="infoService.opcaoEntregaSelecionada" [ngModelOptions]="{standalone: true}">
    <mat-radio-button (click)="onClick(opcaoEntregaSelecionada)" class="example-radio-button" *ngFor="let opcaoEntregaSelecionada of infoService.opcoesEntrega"
      [value]="opcaoEntregaSelecionada">
      {{opcaoEntregaSelecionada}}
    </mat-radio-button>
  </mat-radio-group>

  <div class="to-deliver" *ngIf="infoService.opcaoEntregaSelecionada === 'Entregar no endereço'">
    <div class="d-flex">
      <mat-form-field class="example-full-width mr">
        <mat-label>CEP</mat-label>
        <input mask="00000-000" (keyup)="getCep(profileForm.get('cep').value)" formControlName="cep" matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width ml">
        <mat-label>Endereço</mat-label>
        <input formControlName="logradouro" matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width ml">
        <mat-label>Número</mat-label>
        <input formControlName="numero" matInput>
      </mat-form-field>
    </div>

    <div class="d-flex">
      <mat-form-field class="example-full-width ml">
        <mat-label>Complemento</mat-label>
        <input formControlName="complemento" matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width ml">
        <mat-label>Bairro</mat-label>
        <input formControlName="bairro" matInput>
      </mat-form-field>
    </div>

    <div class="d-flex">
      <mat-form-field class="example-full-width ml">
        <mat-label>Cidade</mat-label>
        <input formControlName="cidade" matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width ml">
        <mat-label>Estado</mat-label>
        <input formControlName="uf" matInput>
      </mat-form-field>
    </div>
  </div>


  <h1 class="title-section mt-30">
    DADOS DO SOLICITANTE
  </h1>


  <div class="d-flex">
    <mat-form-field class="example-full-width mr">
      <mat-label>Seu Nome</mat-label>
      <input pattern="[a-z-A-Z\s]* [a-z-A-Z\s]*" required formControlName="nome" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width ml">
      <mat-label>CPF ou CNPJ</mat-label>
      <input required formControlName="cpf_cnpj" [textMask]="{mask: cpfcnpjmask}" matInput>
    </mat-form-field>
  </div>

  <div class="d-flex">
    <mat-form-field class="example-full-width mr">
      <mat-label>E-mail</mat-label>
      <input required formControlName="email" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width ml">
      <mat-label>Telefone/Celular</mat-label>
      <input required formControlName="telefone" [mask]="phoneMask" matInput>
    </mat-form-field>

  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Mensagem</mat-label>
    <textarea required formControlName="mensagem" matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>

  <input type="file" (change)="handleFileChange($event)" multiple>

  <div class="text-right" style="display: flex; justify-content: space-between; margin-top: 30px;" >
    <button type="button" routerLink="/consulta" mat-raised-button color="primary" class="btn">Consultar</button>
    <button [disabled]="profileForm.invalid" mat-raised-button color="primary" class="btn">Solicitar</button>
  </div>

</form>

