<h1 style="text-align: justify;" class="title-section mt-30 example-form">
  O preenchimento dos campos abaixo nos auxiliará na busca do ato praticado em nosso arquivo. Por este motivo, é
  importante que preencha os campos com o máximo de informações possível. <br>
  <i>Obs: Caso não tenha todas as informações iremos fazer uma busca em nossas Notas, e a mesma tem prazo indeterminado.</i>
</h1>
<form [formGroup]="profileForm" class="example-form" autocomplete="off" (ngSubmit)="submit()">
  <h1 class="title-section mt-30">DADOS DO ATO</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Nome da(s) Parte(s)</mat-label>
    <textarea formControlName="nome_partes" matInput value=""></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Tipo do Ato</mat-label>
    <input formControlName="tipo_ato" placeholder="Ex: Escritura, Procuração, Inventário, etc..." matInput value="">
  </mat-form-field>

  <div class="d-flex">
    <mat-form-field class="example-full-width mr">
      <mat-label>Livro</mat-label>
      <input formControlName="livro_ato" matInput value="">
    </mat-form-field>

    <mat-form-field class="example-full-width ml">
      <mat-label>Folha</mat-label>
      <input formControlName="folha_ato" matInput value="">
    </mat-form-field>
  </div>
  <hr>

  <h1 class="title-section mt-30">
    POSSUI UMA CÓPIA DO ATO ACIMA?
  </h1>

  <form class="form">
    <div class="file-upload-wrapper" data-text="Selecione um ou mais arquivos">
      <input name="file-upload-field" type="file" (change)="handleFileChange($event)" class="file-upload-field"
        multiple>
    </div>
  </form>
  <div class="files" *ngFor="let file of infoService.base64">
    <span>{{file.nome_arquivo}}</span>
    <mat-icon (click)="removeSelectedFile(file)">close</mat-icon>
  </div>
  <hr>


  <h1 class="title-section mt-30">
    FORMA DE ENTREGA
  </h1>

  <mat-radio-group required color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
    [(ngModel)]="infoService.opcaoEntregaSelecionada" [ngModelOptions]="{standalone: true}">
    <mat-radio-button (click)="onClick(opcaoEntregaSelecionada)" class="example-radio-button"
      *ngFor="let opcaoEntregaSelecionada of infoService.opcoesEntrega" [value]="opcaoEntregaSelecionada">
      {{opcaoEntregaSelecionada}}
    </mat-radio-button>
  </mat-radio-group>

  <div class="to-deliver" *ngIf="infoService.opcaoEntregaSelecionada === 'Entregar no endereço'">
    <div class="d-flex">
      <mat-form-field class="example-full-width mr">
        <mat-label>CEP</mat-label>
        <input mask="00000-000" (keyup)="getCep(profileForm.get('cep').value)" formControlName="cep" matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width ml mr">
        <mat-label>Endereço</mat-label>
        <input formControlName="logradouro" matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width ml">
        <mat-label>Número</mat-label>
        <input formControlName="numero" matInput>
      </mat-form-field>
    </div>

    <div class="d-flex">
      <mat-form-field class="example-full-width mr">
        <mat-label>Complemento</mat-label>
        <input formControlName="complemento" matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width ml">
        <mat-label>Bairro</mat-label>
        <input formControlName="bairro" matInput>
      </mat-form-field>
    </div>

    <div class="d-flex">
      <mat-form-field class="example-full-width mr">
        <mat-label>Cidade</mat-label>
        <input formControlName="cidade" matInput>
      </mat-form-field>

      <mat-form-field class="example-full-width ml">
        <mat-label>Estado</mat-label>
        <input formControlName="uf" matInput>
      </mat-form-field>
    </div>
  </div>
  <hr>

  <h1 class="title-section mt-30">
    DADOS DO SOLICITANTE
  </h1>

  <div class="d-flex">
    <mat-form-field class="example-full-width mr">
      <mat-label>Seu Nome</mat-label>
      <input pattern="[a-z-A-Z-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ'\s]* [a-z-A-Z-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ'\s]*" required formControlName="nome" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width ml">
      <mat-label>CPF ou CNPJ</mat-label>
      <input required formControlName="cpf_cnpj" [textMask]="{mask: cpfcnpjmask}" matInput>
    </mat-form-field>
  </div>

  <div class="d-flex">
    <mat-form-field class="example-full-width mr">
      <mat-label>E-mail</mat-label>
      <input required formControlName="email" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width ml">
      <mat-label>Telefone/Celular</mat-label>
      <input required formControlName="telefone" [mask]="phoneMask" matInput>
    </mat-form-field>

  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Mensagem</mat-label>
    <textarea required formControlName="mensagem" matInput placeholder="Digite uma mensagem"></textarea>
  </mat-form-field>
<hr>
  <div class="action-bottom" style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <h1 class="title-section mt-30">
        VALORES
      </h1>

      <p>Valor do serviço: {{buscaCepService?.valorServico | currency:'BRL':true}}</p>
      <div *ngIf="profileForm.get('entrega').value == 2">
        <p>Frete: {{buscaCepService?.frete | currency:'BRL':true}}</p>
        <p>Total: {{buscaCepService?.valorTotal | currency:'BRL':true}}</p>
      </div>

    </div>
    <div class="text-right">
      <button [disabled]="profileForm.invalid" mat-raised-button color="primary" class="btn">ENVIAR SOLICITAÇÃO</button>
    </div>
  </div>


</form>